input{
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    margin-top: 20px;
    height: 40px;
}
.login-box{
    width: 400px;
    margin: 10% auto;
}
.login-title{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    color: black;
}

.login-user{
    background-image: url('../../image/r.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position-y: center;
    background-position-x: 5px;
    padding-left: 40px;
}

.login-password{
    background-image: url('../../image/s.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position-y: center;
    background-position-x: 5px;
    padding-left: 40px;
}

.login-btn-box{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
